/*  Pour reset les marges*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Pour rendre tous les liens scrollables*/
html {
    scroll-behavior: smooth;
}

/* VARIABLES CSS pour changer les couleurs et la police de tout le site */
:root {
    /* COULEURS */
    --color-primary: rgb(27, 22, 36);
    --color-secondary: white;
    --color-third: gray;

    /* POLICES */
    --police-primary: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: var(--police-primary);
}

/*HEADER///////////////////////////////////////////////////////////////////////////////////////////////*/

header {
    background: var(--color-secondary);
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.benjamin {
    width: 50%;
}


/* NAVIGATION ////////////////////////////////////////////////////////////////////*/

a {
    color: black;
    text-decoration: none;
    padding: 10px;
    font-weight: lighter;
}

a:hover {
    opacity: 50%;
    transition: ease-in-out 0.5s;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
}

nav .lk {
    width: 1.5%;
    filter: invert();
}

.menu {
    font-size: 1.2em;
    font-weight: bold;
}

.meal {
    border-radius: 10px;
    display: none;
}

h1 {
    font-size: 1.5em;
    color: var(--color-third);
    padding-top: 20px;
    padding-bottom: 40px;
    font-weight: bold;
}

p {
    color: var(--color-secondary);
    font-weight: lighter;
}

figcaption {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
}

/* ACCUEIL ////////////////////////////////////////////////////////////////*/

.accueil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 100px;
    background: var(--color-primary);
}

.illustration {
    width: 100%;
}

/* #background-video {
    width: 40%;
} */

/* #background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 70%;
} */

h2 {
    font-size: 4em;
    color: rgba(204, 0, 0, 1);
    padding-bottom: 80px;
}

.accueil figure {
    justify-content: space-between;
    width: 23%;
}

.photo {
    width: 50%;
}

/* ACTIVITES ///////////////////////////////////////////////////////////////////*/

.features {
    background: white;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

h3 {
    font-size: 1.8em;
}

.bloc3 {
    display: flex;
    flex-direction: row;
    align-items: initial;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    margin-bottom: 100px;
}

h4 {
    font-size: 1.7em;
}

.text2 {
    text-align: center;
}

.ico {
    width: 50%;
}

/* INFO///////////////////////////////////////////////////////////////////// */

#info {
    display: flex;
    flex-direction: column;
    background: var(--color-secondary);
    padding-top: 20px;
    text-align: center;
}

.reseaux {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
    width: 20%;
}

.pied {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}

.acces {
    font-size: 1em;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.acces .text3 {
    color: black;
    margin-bottom: 20px;
}

.acces a {
    font-size: 1.2em;
}

.acces a:hover {
    color: black;
}

.boutonScroll {
    width: 3%;
    border-radius: 50%;
    position: fixed;
    top: 580px;
    left: 1230px;
    transition: .5s ease-in-out;
}

.boutonScroll:hover {
    cursor: pointer;
}

/*///////////////////////////////////////RESPONSIVE/////////////////////////////////////////*/


/*////////////////INSPECTER - BUREAU - PAGE WEB///////////////////*/
@media only screen and (max-width: 1196px) {

    h1 {
        font-size: 0.5em;
    }

    a {
        font-size: 0.7em;
        padding: 3px;
    }

}

/*TABLETTE//////////////////////////////////////////////////////*/

@media (min-width: 769px) and (max-width: 1024px) {

    .wrapper {
        width: 120%;
        margin: auto;
    }

    /*////////////////////////////ACCUEIL///////////////////////////*/

    a {
        font-size: 0.5em;
        padding: 1px;
    }

    nav {
        display: flex;
        flex-direction: row;
        margin-left: 0px;
    }

    /*////////////////////////////MENU BURGER///////////////////////////*/

    .menu {
        display: none;
    }

    .meal {
        margin-right: 20px;
        display: flex;
    }

    /*//////////////////////////////////////////////////////////////////*/

    .accueil {
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 40px;
        margin-left: 60px;
    }

    .bloc {
        padding-right: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-left: 120px;
    }

    .text {
        text-align: justify;
        margin-left: 40px;
    }

    h1 {
        font-size: 2em;
        text-align: center;
        margin-left: 40px;
    }

    /*////////////////////////////FOOTER///////////////////////////*/

    .reseaux {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .text3 {
        margin-bottom: 20px;
        font-size: 1em;
    }

    .acces {
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 0.5em;
    }

    #info {
        padding-bottom: 0px;
    }

}

/*TELEPHONE//////////////////////////////////////////////////////*/

@media (min-width: 0) and (max-width: 768px) {

    .wrapper {
        width: 100%;
        margin: auto;
        line-height: 1.5;
    }

    header {
        height: 120px;
    }

    .head {
        display: flex;
        justify-content: space-between;
    }


    /* Desactiver cette fonction pour que le menu burger fonctionne*/

    html {
        scroll-behavior: unset;
    }

    /* Animation Faire apparaitre certains éléments Zoom*/

    @keyframes appear {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }

    }

    /* Animation Scroller les caroussels automatiquement*/

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-250px * 5));
        }
    }

    /*////////////////////////////ACCUEIL///////////////////////////*/

    .accueil {
        width: 0px;
        padding-right: 0px;
        padding-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .name {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-left: 0px;
    }

    a {
        font-size: 0.5em;
        padding: 1px;
    }

    nav {
        display: flex;
        flex-direction: row;
        margin: 20px;
        height: 90px;
        background: white;
        border-radius: 10px;
        box-shadow: 0px 10px 10px rgb(0, 0, 0);

        /*Faire apparaitre cet élément*/
        animation: appear 1s;
        transition: ease-in-out 0.5s;
    }

    /*////////////////////////////MENU BURGER///////////////////////////*/

    .menu {
        display: none;
    }

    .meal {
        border-radius: 10px;
        display: flex;
        cursor: pointer;
    }

    .meal:hover {
        opacity: 50%;
        cursor: pointer;
    }

    /*//////////////////////////////////////////////////////////////////*/

    .nom {
        font-size: 2.5em;
        font-weight: bold;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
        color: rgba(204, 0, 0, 1);
        margin-bottom: 20px;
    }

    h2 {
        font-size: 4em;
        color: rgba(204, 0, 0, 1);
        padding-bottom: 40px;
    }

    /*////////////////////////////FEATURES///////////////////////////*/

    .illustrationC {
        display: flex;
        width: 460px;
    }

    .text1 {
        padding: 20px;
    }

    .ico {
        width: 50%;
    }

    .icoA {
        width: 50%;
    }

    .icoF {
        display: none;
    }

    .bloc3 {
        margin: 0px 0px 40px 0px;
        gap: 0px;
        flex-direction: column;
    }

    .bloc3 h4 {
        padding-bottom: 10px;
    }

    .feat {
        padding: 10px;
        margin: 10px;
    }

    .feat:hover {
        animation: none;
    }

    /* Générer un caroussel glissement AUTO*/

    .bloc3 {
        position: relative;
        overflow: auto;
        display: flex;
        justify-content: left;
        scroll-snap-type: x mandatory;
        flex-direction: row;
        margin-left: 20px;
    }

    .feat {
        position: sticky;
        object-fit: cover;
        flex-shrink: 0;
        scroll-snap-align: start;

        /* Pour centrer la première image du caroussel et gérer l'espace entre les images*/
        width: 100%;
        max-width: 500px;

        /*Pour scroller auto*/
        animation: scroll 20s linear infinite;
    }

    /*////////////////////////////TEAM///////////////////////////*/

    h3 {
        font-size: 1.5em;
    }

    .team h1 {
        margin-left: 0px;
        color: black;
    }

    .team h3 {
        font-size: 1.5em;
    }

    .team .text3 {
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    .team {
        gap: 0px;
        justify-content: center;
        padding-bottom: 20px;
        padding-left: 0px;
        padding-right: 15px;
    }

    .ico3 {
        left: 220px;
        top: 50px;
    }

    .team figure {
        width: 300px;
    }

    .pcs1 {
        width: 100%;
    }

    .ico3 {
        padding-top: 30px;
    }

    .ico4 {
        padding-top: 50px;
        left: -5px;
    }

    .icoFb,
    .icoIn,
    .icoLkd,
    .icoTk,
    .icoYt,
    .icoTw,
    .icoLSp,
    .icoPp {
        width: 40%;
        filter: invert();
    }

    /*////////////////////////////GET START///////////////////////////*/

    .getStart h5 {
        font-size: 1.2em;
    }

    .text4 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .log {
        width: 70%;
    }

    h5 {
        margin-top: 20px;
    }

    .revolution {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logRevolution {
        width: 50%;
    }

    /* #background-video {
        width: 100%;
    } */
    /*////////////////////////////PRICE///////////////////////////*/

    /* Générer un caroussel glissement AU DOIGT*/

    .price {
        scroll-snap-type: x mandatory;
        overflow: auto;
    }

    .blocPrice {
        position: relative;
        display: flex;
        justify-content: left;
        flex-direction: row;
        width: 330px;
    }

    .blocPrice:hover {
        animation: none;
    }

    .pack {
        position: sticky;
        object-fit: cover;
        flex-shrink: 0;
        scroll-snap-align: start;

        /* Pour centrer la première image du caroussel et gérer l'espace entre les images*/
        width: 100%;
        max-width: 1000px;
    }

    .log {
        width: 100%;
    }

    .front {
        box-shadow: none;
    }

    .back h2 {
        padding-bottom: 20px;
    }

    .back {
        height: max-content;
    }

    .boutonJoin {
        padding-left: 60px;
        padding-right: 60px;
    }

    a {
        font-size: 1.5em;
    }

    h4 {
        font-size: 1.7em;
    }

    /*////////////////////////////FOOTER///////////////////////////*/

    .reseaux {
        padding-top: 0px;
        padding-bottom: 0px;
        width: 50%;
        margin-right: 0px;
        gap: 15px;
    }

    .text3 {
        margin-bottom: 20px;
        font-size: 0.5em;
    }

    .acces {
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 1em;
        gap: 10px;
    }

    .acces a {
        font-size: 0.7em;
    }

    #info {
        padding-bottom: 0px;
        text-align: center;
    }

    .icoFb,
    .icoIn,
    .icoLkd,
    .icoTk {

        width: 40%;
    }

    .logQR {
        width: 20%;
        align-items: center;
        filter: invert(1);
    }

}

/*///////////////////////////NORMES///////////////////////////*/

/* Mobile */
@media (min-width: 0) and (max-width: 768px) {

    /* h1 {
        font-size: 9vw;
        padding: 2vh 0;
    } */

    h2 {
        font-size: 7vw;
    }

    p {
        font-size: 4vw;
    }
}